@media print {
	.hidden-print {
		display: none;
	}
	body {
		zoom: 0.72;
	}

	.box {
		border-top: initial;
		margin-bottom: initial;
	}
	.content-wrapper {
		padding-top: initial !important;
	}
	#table {
		margin-bottom: 0;
	}



	.printable {
		display: block;
	}

	.print-header-space {
		height: 200px;
	}

	.print-header {
		display: block !important;
		position: fixed;
		top: 0mm;
		padding: 0 2%;
	}

	.print-header-title {
		font-weight: bold;
		font-size: 2.0em;
	}

	.print-header-date-entry {
		width: 300px;
		margin-left: auto;
		font-weight: bold;
		border-bottom: 2px solid #666666;
		padding-bottom: 2px;
	}

	.btn, .form-control {
		border-radius: initial !important;
	}

	.margin-bottom-0 {
		margin-top: 70px;
	}

	.print-header-cell {
		width: 100px;
		font-size: 0.8em;
	}

	.print-content-cell {
		width: 100px;
		height: 80px;
	}

	@page {
		size: A4 landscape;
		margin: 20mm;
	}
}